form {
  font-weight: 600;
}

.new-tweet {
  display: flex;
  flex-direction: column;
  font-family: "Source Sans Pro", sans-serif;
  font-size: 24px;
}

main section h2 {
  font-family: "Bungee", cursive;
  color: #545149;
  text-align: center;
  margin-top: 0px;
  margin-bottom: 16px;
}

#tweet-text {
  background-color: #f4f1ec;
  width: 100%;
  border: none;
  border-bottom: solid;
  border-bottom-width: 3px;
  border-color: #545149;
  font-weight: 600;
}

#tweetDisplay {
  display: flex;
  justify-content: space-between;
}

#btn {
  background-color: rgb(56, 34, 200);
  border: none;
  font-family: "Bungee", cursive;
  color: #f4f1ec;
}

.counter {
  font-family: "Bungee", cursive;
}

.counterLimit {
  color: red;
}

.textLimitError {
  font-family: "Source Sans Pro", sans-serif;
  font-weight: 600;
  border: 6px dashed red;
  background-color: #f4f1ec;
  color: red;
  text-align: center;
  font-size: 24px;
  padding: 24px;
  margin-top: 24px;
  margin-bottom: 24px;
}

.noTextError {
  font-family: "Source Sans Pro", sans-serif;
  font-weight: 600;
  border: 6px dashed red;
  background-color: #f4f1ec;
  color: red;
  text-align: center;
  font-size: 24px;
  padding: 24px;
  margin-top: 24px;
  margin-bottom: 24px;
}

.hide {
  display: none;
}
